#cy {
    width: 100%;
    height: 100%;
}

html, body {
    width: 100%;
    min-width: 100vh;
    height: 100%;
    min-height: 100vh;
    margin: 0%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#editor-page {
    margin: 0px;
    padding: 0px;
}

.navbar {
    width: 100%
}

.col-6 {
    padding: 0;
}

.palette {
    border-width: 3px;
    border-style: solid;
    border-color: black;
}