<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/xterm.css' %}">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    {% load static %}
    <script src="{% static 'js/bundle.js'%}"></script>

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CSP Graph Coloring</a>
    </nav>
    <div class="container-fluid p-0 h-100 bg-default" id="editor-page">
        <div class="row vh-100">
            <div class="col-2 h-100 py-3 px-0">
                <div class="h-100 p-0 pb-5" style="overflow-y: auto;">
                    <div class="container-fluid justify-content-center p-0 w-100" id="toolbox">
                        <div class="row justify-content-center p-0 pl-3 w-100 m-0">
                            <div class="btn-group-vertical btn-group-toggle w-100" data-toggle="buttons">
                                <label class="btn btn-secondary active" id="nodeMode">
                                    <input type="radio" name="options" checked> Add Node / Edit
                                </label>
                                <label class="btn btn-secondary" id="edgeMode">
                                    <input type="radio" name="options"> Add Edge
                                </label>
                                <label class="btn btn-secondary" id="delMode">
                                    <input type="radio" name="options"> Delete
                                </label>
                                <label class="btn btn-secondary" id="constMode">
                                    <input type="radio" name="options"> Assign Constraint
                                </label>
                            </div>
                        </div>
                        <div class="row justify-content-center w-100 m-0 pl-3 py-3">
                            <button type="submit" class="btn btn-primary" id="but">Solve</button>
                        </div>
                        <div class="row justify-content-center w-100 m-0 pl-3 py-3" id="result">
                            Result:
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                    cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center w-100 m-0 pl-3 py-3" id=resultTest>

                        </div>
                        <div class="row justify-content-center w-100 m-0 pl-3 py-3" id="result">
                            Add Color to Domain
                        </div>
                        <div id="colorpicker" class="row justify-content-center w-10 m-0 pl-3 py-3">
                            <div id='iroCP'></div>
                        </div>
                        <div id="addcolor" class="row justify-content-center w-10 m-0 pl-3 py-3">
                            <button class="btn btn-primary" id="colorButton">Add Color</button>
                        </div>
                        <div id="domain" class="row justify-content-center w-10 m-0 pl-2 py-3">
                            <div id="d0" class="w-100 text-center my-1 palette">D0</div>
                            <div id="d1" class="w-100 text-center my-1 palette">D1</div>
                            <div id="d2" class="w-100 text-center my-1 palette">D2</div>
                            <div id="d3" class="w-100 text-center my-1 palette">D3</div>
                            <div id="d4" class="w-100 text-center my-1 palette">D4</div>
                            <div id="d5" class="w-100 text-center my-1 palette">D5</div>
                            <div id="d6" class="w-100 text-center my-1 palette">D6</div>
                            <div id="d7" class="w-100 text-center my-1 palette">D7</div>
                            <div id="d8" class="w-100 text-center my-1 palette">D8</div>
                            <div id="d9" class="w-100 text-center my-1 palette">D9</div>
                            <div id="d10" class="w-100 text-center my-1 palette">D10</div>
                            <div id="d11" class="w-100 text-center my-1 palette">D11</div>
                            <div id="d12" class="w-100 text-center my-1 palette">D12</div>
                            <div id="d13" class="w-100 text-center my-1 palette">D13</div>
                            <div id="d14" class="w-100 text-center my-1 palette">D14</div>
                            <div id="d15" class="w-100 text-center my-1 palette">D15</div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 h-100 p-0">
                <div class="bg-white" id="cy"></div>
            </div>
        </div>
    </div>
</body>

</html>